.all{
  /*border: 1px solid black;*/
  width: 750px;
  font-family: 'arial';
  margin: 0 auto;
}
.jogador{
   border-top: 1px solid black;
   font-size: 12px;
}
.hab{
  background-color: black;
  color: white;
  font-size: 10px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
.border{
  border:1px solid black;
  border-collapse: collapse;
}
.ca{
  float:right;
  width: 60%;
}
.meio{
  float:right;
  width: 25%;
  border-collapse: collapse;
  margin-right: 10px;
}
.pv{
  float:right;
  width: 60%;
  margin-top: 1.5%;
  font-size: 7px;
}
.pericias{
  border-collapse: collapse;
  font-size: 8px;
  float: right;
  width:50%;
}
.resistencia{
  width: 45%;
}
.talentos{
  border-bottom: 1px solid black;
}
.magias{
  margin-right: 10px;
  font-size: 10px;
  width: 1%;
  text-align: center;
}
